ModernGL/ext/**/*
!ModernGL/ext/__init__.py
!ModernGL/ext/__main__.py
!ModernGL/ext/README.md

venv
python-embed

**/__pycache__
**/Temp
**/build
**/dist

build.py

.tox
.cache
.vscode

*.pyd_*

*.egg-info
*.log
*.pyd
*.pyc
*.bat
*.whl
*.so
